<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/designpage.css" />

    <title>ERUTY</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navId">
    <!-- NAV -->
    <nav class="header-nav bg-white border-bottom">
      <div class="nav-container">
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div id="navbarCollapse">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <a class="fs-4" href="./main.html"
              ><img src="/img/logo.png" id="main-logo-img" alt="로고사진"
            /></a>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#gallery1">-</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact1">-</a>
            </li> -->
          </ul>
          <div id="navbar-search">
            <input type="text" id="nav-search" />
            <button id="search-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-search"
                id="search-icon"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
          </div>
          <div id="navbar-btn">
            <a href="/members/login">
              <button class="login-btn" type="button">LOGIN</button>
            </a>
            <a href="/members/new">
              <button class="signup-btn ms-3" type="button">SIGN UP</button>
            </a>
            <!-- <button
              class="upload-btn ms-3"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#about-modal"
            >
              UPLOAD
            </button> -->
          </div>
        </div>
      </div>
    </nav>

    <!-- <div id="example"></div>
    <div id="example2">
      <h2 id="highlights1">here</h2>
    </div> -->
    <div id="main">
      <div id="main-container">
        <div id="design">
          <div id="design-info">
            <section class="design-img">
              <canvas id="design3d" class="main-img">
                <input
                  id="canvasinput"
                  style="display: none"
                  th:value="${item.getModelPath()}"
                />
                <!-- to 상명 / 3dfile경로 -->
              </canvas>
            </section>
            <!-- to 상명 / 좋아요, 조회수 -->
            <section class="design-eval">
              좋아요:
              <div th:onclick="|location.href='@{/items/{id}/like (id=${item.getId()})}'|"
                           th:text="${item.getLikes()}"></div>
              조회수:
              <div th:text="${item.getViews()}"></div>
            </section>
            <nav class="info-nav">
              <div class="info-nav-box">
                <a class="nav-select" href="#info-info">
                  <span>디자인 설명</span>
                </a>
                <a class="nav-unselect" href="#info-cancel">
                  <span>취소 및 환불</span>
                </a>
                <a class="nav-unselect" href="#info-eval">
                  <span>디자인 평가</span>
                </a>
              </div>
            </nav>
            <section class="info-content" id="info-info">
              <!-- to 상명 / 디자인 설명 -->

              <div class="info-content-title">디자인 설명</div>
              <br />
              <br />
              <div th:text="${item.getDescription()}"></div>
            </section>
            <section class="info-content" id="info-cancel">
              <div class="info-content-title">취소 및 환불 규정</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
            </section>
            <section class="info-content" id="info-eval">
              <div class="info-content-title">디자인 평가</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
            </section>
          </div>

          <div id="design-sidebar">
            <section class="sidebar-title">
              <!-- to 상명 / 디자인 이름 -->
              <h1 th:text="${item.getDesignName()}"></h1>
            </section>

            <section class="sidebar-info-box">
              <div class="sidebar-info">
                <!-- to 상명 / 디자인 가격 -->

                <div>[[${item.getPrice()}]] 원</div>

                <!-- to 상명 / 저작 권한(3개) -->
                <div class="sidebar-btn mt-3">
                  <button>구매하기</button>
                </div>
              </div>
            </section>
            <section class="seller-box">
              <div class="seller-info">
                <!-- to 상명 / User id? -->
                <div class="seller-name" th:text="${item.getCreator()} "></div>
                <!-- <div class="seller-img">  프로필 이미지??
                  <img src="/img/logo.png" alt="" />
                </div> -->
              </div>

              <div class="seller-contact">
                <div>연락 가능 시간 : 0시 ~ 0시</div>
                <div>평균 응답 시간 : 30분 이내</div>
              </div>
              <div class="seller-btn"><button>문의하기</button></div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
      integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/FBXLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.7.4/umd/index.min.js"></script>

    <script src="/js/designpage.js"></script>
    <script>
      let src3d = canvasinput.value;
      var fileExtension = src3d.substr(src3d.lastIndexOf(".") + 1);
      rendering(src3d, fileExtension);

      function rendering(src3d, extension) {
        const myCanvas = document.getElementById("design3d");
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(
          75,
          myCanvas.width / myCanvas.height,
          0.1,
          1000
        );
        const renderer = new THREE.WebGLRenderer({
          canvas: myCanvas,
          alpha: true,
        });
        renderer.setSize(600, 400);

        const controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.rotateSpeed = 1.0; // 마우스로 카메라를 회전시킬 속도입니다. 기본값(Float)은 1입니다.
        controls.zoomSpeed = 1.2; // 마우스 휠로 카메라를 줌 시키는 속도 입니다. 기본값(Float)은 1입니다.
        controls.panSpeed = 0.8; // 패닝 속도 입니다. 기본값(Float)은 1입니다.
        controls.minDistance = 5; // 마우스 휠로 카메라 거리 조작시 최소 값. 기본값(Float)은 0 입니다.
        controls.maxDistance = 100; // 마우스 휠로 카메라 거리 조작시 최대 값. 기본값(Float)은 무제한 입니다.

        const object = new THREE.Object3D();

        if (extension == "obj") {
          const loader = new THREE.OBJLoader();
          loader.load(
            src3d,
            function (objectload) {
              // console.log(objectload.children[0].geometry);
              //size 조절
              const { minX, maxX, minY, maxY, minZ, maxZ } =
                getBoundingBox(objectload);
              const width = maxX - minX;
              const height = maxY - minY;
              const depth = maxZ - minZ;
              const size = Math.max(width, height, depth);
              const center = new THREE.Vector3(
                (minX + maxX) / 1.75,
                (minY + maxY) / 1.75,
                (minZ + maxZ) / 1.75
              );
              camera.position.set(
                center.x + size / 1.75,
                center.y + size / 1.75,
                center.z + size / 1.75
              );
              camera.lookAt(center);
              camera.near = size / 100;
              camera.far = size * 100;
              camera.updateProjectionMatrix();

              //조명 추가
              shadowLight();

              //랜더링
              object.add(objectload);
              scene.add(object);
            },
            function (xhr) {
              console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
            },
            function (error) {
              console.log(error);
              console.log("An error happened");
            }
          );
          animate();
        }
        if (extension == "fbx") {
          const loader = new THREE.FBXLoader();
          loader.load(
            src3d,
            function (objectload) {
              //size 조절
              var box = new THREE.Box3().setFromObject(objectload);
              var maxX = box.max.x;
              var desiredSize = 2.0;
              var scale = desiredSize / maxX;
              object.scale.set(scale, scale, scale);

              //조명 추가
              shadowLight();

              //랜더링
              object.add(objectload);
              scene.add(object);
            },
            function (xhr) {
              console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
            },
            function (error) {
              console.log(error);
              console.log("An error happened");
            }
          );
          animate();
        }

        //회전동작
        function animate() {
          requestAnimationFrame(animate);
          object.rotation.z -= 0.01;
          object.rotation.y -= 0.01;
          renderer.render(scene, camera);
          controls.update();
        }

        //사이즈 크기
        function getBoundingBox(objectload) {
          var minX = Infinity,
            minY = Infinity,
            minZ = Infinity;
          var maxX = -Infinity,
            maxY = -Infinity,
            maxZ = -Infinity;

          for (let i = 0; i < objectload.children.length; i++) {
            objectload.children[i].geometry.computeBoundingSphere();
          }

          for (let i = 0; i < objectload.children.length; i++) {
            minX = Math.min(
              minX,
              objectload.children[i].geometry.boundingSphere.center.x
            );
            minY = Math.min(
              minY,
              objectload.children[i].geometry.boundingSphere.center.y
            );
            minZ = Math.min(
              minZ,
              objectload.children[i].geometry.boundingSphere.center.z
            );
            maxX = Math.max(
              maxX,
              objectload.children[i].geometry.boundingSphere.center.x
            );
            maxY = Math.max(
              maxY,
              objectload.children[i].geometry.boundingSphere.center.y
            );
            maxZ = Math.max(
              maxZ,
              objectload.children[i].geometry.boundingSphere.center.z
            );
          }
          return {
            minX,
            maxX,
            minY,
            maxY,
            minZ,
            maxZ,
          };
        }

        //조명 추가
        function shadowLight() {
          var hemiLight = new THREE.HemisphereLight(0xffffff, 0xffffff, 0.61);
          hemiLight.position.set(0, 50, 0);
          scene.add(hemiLight);

          var dirLight = new THREE.DirectionalLight(0xffffff, 0.54);
          dirLight.position.set(-8, 12, 8);
          dirLight.castShadow = true;
          dirLight.shadow.mapSize = new THREE.Vector2(1024, 1024);
          scene.add(dirLight);
        }

        //색상
        function colorLight(objectload) {
          // for (let i = 0; i < objectload.children.length; i++) {
          //   var material = new THREE.MeshBasicMaterial({ color: 0xff0000 });
          //   objectload.children[i].material = material;
          // }
          // for (let i = 0; i < objectload.children.length; i++) {
          //   if (objectload.children[i].geometry.attributes.color === undefined) {
          //     var colors = [];
          //     for (
          //       let j = 0;
          //       j < objectload.children[i].geometry.attributes.position.count;
          //       j++
          //     ) {
          //       var u =
          //         objectload.children[i].geometry.attributes.uv.array[j * 2];
          //       var v =
          //         objectload.children[i].geometry.attributes.uv.array[j * 2 + 1];
          //       colors[j * 3] = u;
          //       colors[j * 3 + 1] = v;
          //       colors[j * 3 + 2] = 1;
          //     }
          //     objectload.children[i].geometry.setAttribute(
          //       "color",
          //       new THREE.BufferAttribute(new Float32Array(colors), 3)
          //     );
          //     var material = new THREE.MeshBasicMaterial({
          //       vertexColors: THREE.VertexColors,
          //     });
          //     objectload.children[i].material = material;
          //   }
          // }
        }
      }
    </script>
  </body>
</html>
