<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/designpage.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>ERUTY</title>
  </head>
  <body>
    <div class="page1">
      <div class="bg-img"></div>
      <div class="nav">
        <a href="/"
          ><img
            class="nav-logo"
            width="25px"
            src="/img/eruty_logo2.png"
            alt="로고"
        /></a>
        <div class="search-bar">
          <img src="/img/a.png" alt="" width="17px" height="17px" />
          <form th:action="@{/items/search}" method="GET">
            <input type="text" name="searchKeyword" placeholder="   search" />
            <button id="search-btn" type="submit"></button>
          </form>
        </div>
        <div class="menu">
          <a href="">ABOUT ERUTY</a>
          <a th:if="!${session?.loginId}" href="/members/new">SIGN UP</a>
          <a th:if="!${session?.loginId}" href="/members/login">LOGIN</a>
          <a th:if="${session?.loginId}" href="/items/upload">UPLOAD</a>
          <a th:if="${session?.loginId}" href="/members/logout">LOGOUT</a>
        </div>
      </div>
    </div>

    <div class="detail-page">
      <div class="design-info">
        <section class="design-img">
          <canvas id="design3d" class="main-img">
            <input
              id="canvasinput"
              style="display: none"
              th:value="${item.getModelPath()}"
            />
          </canvas>
        </section>
        <div class="detail-img-title"><p>상세 이미지</p></div>

        <table class="table table-striped">
          <tbody>
            <tr th:each="image : ${item.getImagePathes()}">
              <img class="design-detail-img" th:src="${image}" alt="" />
            </tr>
          </tbody>
        </table>
      </div>

      <div class="selling-info">
        <section class="design-eval">
          <div
            th:onclick="|location.href='@{/items/{id}/like (id=${item.getId()})}'|"
            class="design-like-btn"
          >
            <svg
              th:if="${item.isLiked == false}"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart"
              viewBox="0 0 16 16"
            >
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
              />
            </svg>
            <svg
              th:if="${item.isLiked == true}"
              color="red"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
            </svg>
            <span th:text="${item.getLikes()}"></span>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
              />
              <path
                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
              />
            </svg>
            <span th:text="${item.getViews()}"></span>
          </div>
        </section>
        <div class="selling-model-info">
          <p class="selling-model-title" th:text="${item.getDesignName()}"></p>
          <p class="selling-model-price">₩ [[${item.getPrice()}]]</p>
          <div class="selling-model-content">
            <p
              style="max-height: 300px; overflow: scroll"
              th:utext="${#strings.replace(item.getDescription(), newLineChar, '&lt;br /&gt;')}"
            ></p>
            <!--      <p>-->
            <!--        It reproduces the face, hair, and facial expressions of adult-->
            <!--        women in 3D. Convert 2048 x 2048 HD quality to png and jpg format-->
            <!--        files. It is possible. It is formed of about 1600 polygons.-->
            <!--      </p>-->
          </div>
          <span
            class="purchase-btn"
            th:onclick="|location.href='@{/items/{id}/buy (id=${item.getId()})}'|"
            id="buyClick"
            >구매하기 :
            <p style="display: inline" th:text="${item.getNumBuy()}"></p
          ></span>
        </div>
        <div class="seller-info">
          <p>
            <span class="seller-name" th:text="${item.getCreator()} "></span
            ><span class="seller-category">디자이너/회사</span>
          </p>
          <div class="seller-rating">
            <div>
              <p>37회</p>
              <p>총 거래 횟수</p>
            </div>
            <div>
              <p>4.5</p>
              <p>고객 만족도</p>
            </div>
            <div>
              <p>개인 디자이너</p>
              <p>회원 구분</p>
            </div>
          </div>
          <div class="seller-btn">
            <button>PORTFOLIO 확인</button><button>디자인 의뢰하기</button>
          </div>
        </div>
        <!-- <div class="company-info">
          <p class="company-name">그래픽 디자인 컴퍼니 ERUTY</p>
          <p class="company-contact">
            <span>연락 가능 시간</span>00:00 ~ 00:00
          </p>
          <p class="company-contact"><span>평균 응답 시간</span>30분 이내</p>
          <button class="company-contact-btn">문의하기</button>
        </div> -->
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
      integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://kit.fontawesome.com/bd796f3c3a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/MTLLoader.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/FBXLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.7.4/umd/index.min.js"></script>
    <script>
      let src3d = canvasinput.value;
      var fileExtension = src3d.substr(src3d.lastIndexOf(".") + 1);
      rendering(src3d, fileExtension);

      function rendering(src3d, extension) {
        const myCanvas = document.getElementById("design3d");
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(
          75,
          myCanvas.width / myCanvas.height,
          0.1,
          1000
        );
        const renderer = new THREE.WebGLRenderer({
          canvas: myCanvas,
          alpha: true,
        });
        renderer.setSize(700, 630);

        const controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.rotateSpeed = 1.0; // 마우스로 카메라를 회전시킬 속도입니다. 기본값(Float)은 1입니다.
        controls.zoomSpeed = 1.2; // 마우스 휠로 카메라를 줌 시키는 속도 입니다. 기본값(Float)은 1입니다.
        controls.panSpeed = 0.8; // 패닝 속도 입니다. 기본값(Float)은 1입니다.
        controls.minDistance = 5; // 마우스 휠로 카메라 거리 조작시 최소 값. 기본값(Float)은 0 입니다.
        controls.maxDistance = 100; // 마우스 휠로 카메라 거리 조작시 최대 값. 기본값(Float)은 무제한 입니다.

        const object = new THREE.Object3D();

        // const mtlLoader = new THREE.MTLLoader();
        // mtlLoader.load(
        // "https://eruty-s3.s3.ap-northeast-2.amazonaws.com/item/d4b99eca9636f38677dd07df01a3e3d628254bf511d1647ebcebc8c0d02c48cf/ee.mtl",
        // function (materials) {
        // materials.preload();
        if (extension == "obj") {
          const loader = new THREE.OBJLoader();
          // loader.setMaterials(materials);
          loader.load(
            src3d,
            function (objectload) {
              //size 조절
              const { minX, maxX, minY, maxY, minZ, maxZ } =
                getBoundingBox(objectload);
              const width = maxX - minX;
              const height = maxY - minY;
              const depth = maxZ - minZ;
              const size = Math.max(width, height, depth);
              const center = new THREE.Vector3(
                (minX + maxX) / 1.75,
                (minY + maxY) / 1.75,
                (minZ + maxZ) / 1.75
              );
              camera.position.set(
                center.x + size / 1.75,
                center.y + size / 1.75,
                center.z + size / 1.75
              );
              camera.lookAt(center);
              camera.near = size / 100;
              camera.far = size * 100;
              camera.updateProjectionMatrix();

              //조명 추가
              shadowLight();

              //랜더링
              object.add(objectload);
              scene.add(object);
            },
            function (xhr) {
              console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
            },
            function (error) {
              console.log(error);
              console.log("An error happened");
            }
          );
          animate();
        }
        if (extension == "fbx") {
          const loader = new THREE.FBXLoader();
          loader.load(
            src3d,
            function (objectload) {
              //size 조절
              var box = new THREE.Box3().setFromObject(objectload);
              var maxX = box.max.x;
              var desiredSize = 2.0;
              var scale = desiredSize / maxX;
              object.scale.set(scale, scale, scale);

              //조명 추가
              shadowLight();

              //랜더링
              object.add(objectload);
              scene.add(object);
            },
            function (xhr) {
              console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
            },
            function (error) {
              console.log(error);
              console.log("An error happened");
            }
          );
          animate();
        }
        //   }
        // );

        //회전동작
        function animate() {
          requestAnimationFrame(animate);
          object.rotation.x += 0.01;
          object.rotation.y += 0.01;
          renderer.render(scene, camera);
          controls.update();
        }

        //사이즈 크기
        function getBoundingBox(objectload) {
          var minX = Infinity,
            minY = Infinity,
            minZ = Infinity;
          var maxX = -Infinity,
            maxY = -Infinity,
            maxZ = -Infinity;

          for (let i = 0; i < objectload.children.length; i++) {
            objectload.children[i].geometry.computeBoundingSphere();
          }

          for (let i = 0; i < objectload.children.length; i++) {
            minX = Math.min(
              minX,
              objectload.children[i].geometry.boundingSphere.center.x
            );
            minY = Math.min(
              minY,
              objectload.children[i].geometry.boundingSphere.center.y
            );
            minZ = Math.min(
              minZ,
              objectload.children[i].geometry.boundingSphere.center.z
            );
            maxX = Math.max(
              maxX,
              objectload.children[i].geometry.boundingSphere.center.x
            );
            maxY = Math.max(
              maxY,
              objectload.children[i].geometry.boundingSphere.center.y
            );
            maxZ = Math.max(
              maxZ,
              objectload.children[i].geometry.boundingSphere.center.z
            );
          }
          return {
            minX,
            maxX,
            minY,
            maxY,
            minZ,
            maxZ,
          };
        }

        //조명 추가
        function shadowLight() {
          const ambientLight = new THREE.AmbientLight(0xcccccc, 0.4);
          scene.add(ambientLight);

          const pointLight = new THREE.PointLight(0xffffff, 0.8);
          camera.add(pointLight);
          scene.add(camera);
        }
      }
    </script>
    <script>
      buyClick.addEventListener("click", () => {
        alert("현재 구매가 불가능한 상품입니다 감사합니다.");
      });
    </script>
  </body>
</html>
