<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/designpage.css" />

    <title>ERUTY</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navId">
    <!-- NAV -->
    <nav class="header-nav bg-white border-bottom">
      <div class="nav-container">
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div id="navbarCollapse">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <a class="fs-4" href="./main.html"
              ><img src="/img/logo.png" id="main-logo-img" alt="로고사진"
            /></a>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#gallery1">-</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact1">-</a>
            </li> -->
          </ul>
          <div id="navbar-search">
            <input type="text" id="nav-search" />
            <button id="search-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-search"
                id="search-icon"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
          </div>
          <div id="navbar-btn">
            <a href="/members/login">
              <button class="login-btn" type="button">LOGIN</button>
            </a>
            <a href="/members/new">
              <button class="signup-btn ms-3" type="button">SIGN UP</button>
            </a>
            <!-- <button
              class="upload-btn ms-3"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#about-modal"
            >
              UPLOAD
            </button> -->
          </div>
        </div>
      </div>
    </nav>

    <!-- <div id="example"></div>
    <div id="example2">
      <h2 id="highlights1">here</h2>
    </div> -->
    <div id="main">
      <div id="main-container">
        <div id="design">
          <div id="design-info">
            <section class="design-img">
              <div class="main-img">
                <!-- to 상명 / 3dfile경로 -->
                <img src="/img/designexp.png" alt="design" />
              </div>
            </section>
            <!-- to 상명 / 좋아요, 조회수 -->
            <li th:each="item: ${item}">

              <span th:text="${item.getLikes()} "></span>
              <span th:text="${item.getViews()} "></span>
            <section class="design-eval">
              <div>좋아요 : 100</div>
              <div>조회수 : 100</div>
            </section>
            <nav class="info-nav">
              <div class="info-nav-box">
                <a class="nav-select" href="#info-info">
                  <span>디자인 설명</span>
                </a>
                <a class="nav-unselect" href="#info-cancel">
                  <span>취소 및 환불</span>
                </a>
                <a class="nav-unselect" href="#info-eval">
                  <span>디자인 평가</span>
                </a>
              </div>
            </nav>
            <section class="info-content" id="info-info">
              <!-- to 상명 / 디자인 설명 -->

              <div class="info-content-title">디자인 설명</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                quisquam explicabo corporis cumque quae. Unde adipisci odio
                nihil, quos expedita maxime, voluptate nulla doloremque aut
                dicta voluptatibus. Id, maxime a?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                quisquam explicabo corporis cumque quae. Unde adipisci odio
                nihil, quos expedita maxime, voluptate nulla doloremque aut
                dicta voluptatibus. Id, maxime a?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                quisquam explicabo corporis cumque quae. Unde adipisci odio
                nihil, quos expedita maxime, voluptate nulla doloremque aut
                dicta voluptatibus. Id, maxime a?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                quisquam explicabo corporis cumque quae. Unde adipisci odio
                nihil, quos expedita maxime, voluptate nulla doloremque aut
                dicta voluptatibus. Id, maxime a?
              </p>
            </section>
            <section class="info-content" id="info-cancel">
              <div class="info-content-title">취소 및 환불 규정</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
            </section>
            <section class="info-content" id="info-eval">
              <div class="info-content-title">디자인 평가</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                delectus cumque excepturi quod quis? Dolores, ea tempora ipsam
                sapiente id culpa odit nemo laboriosam esse sed, officiis
                facilis sint quia.
              </p>
            </section>
          </div>
          <div id="design-sidebar">
            <section class="sidebar-title">
              <li th:each="item: ${item}">
              <!-- to 상명 / 디자인 이름 -->
                <span th:text="${item.getDesignName()}"></span>
              <h1>예시 디자인 / 예시 3D 디자인</h1>
            </section>
            <section class="sidebar-info-box">
              <div class="sidebar-info">
                <li th:each="item: ${item}">
                <!-- to 상명 / 디자인 가격 -->
                  <span th:text="${item.getPrice()} "></span>


                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                  quia error quod eligendi natus neque. Praesentium, natus quo,
                  eligendi dolorum omnis fuga expedita officiis ipsam, ducimus
                  laudantium voluptatem architecto quibusdam.
                </div>
                <!-- to 상명 / 저작 권한(3개) -->
                <div class="sidebar-btn"><button>구매하기</button></div>
              </div>
            </section>
            <section class="seller-box">
              <div class="seller-info">
                <!-- to 상명 / User id? -->
                <li th:each="item: ${item}">

                  <span th:text="${item.getCreator()} "></span>

                <div class="seller-name">그래픽디자인컴퍼니</div>
                <div class="seller-img">
                  <img src="/img/logo.png" alt="" />
                </div>
              </div>
              <div class="seller-contact">
                <div>연락 가능 시간 : 0시 ~ 0시</div>
                <div>평균 응답 시간 : 30분 이내</div>
              </div>
              <div class="seller-btn"><button>문의하기</button></div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
      integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="../static/js/rendering.js"></script> -->

    <script src="/js/designpage.js"></script>
  </body>
</html>
