<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/items/new">아이템 업로드</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>