<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Member</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/login">로그인</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/changepwd">비밀번호 변경</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/findpwd">비밀번호 찾기</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>