<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/login.css" rel="stylesheet" />
    <title>ERUTY</title>
    <link rel="shortcut icon" href="/img/eruty_logo2.png" />
  </head>
  <body>
    <div class="container">
      <img src="/img/eruty_logo1.png" alt="" class="login-logo" />
      <div class="login-container">
        <form
          role="form"
          action="/members/login"
          th:object="${memberLoginForm}"
          method="post"
        >
          <div class="mb-3">
            <input
              type="email"
              class="form-control login-email"
              id="exampleInputEmail1"
              placeholder="이메일"
              aria-describedby="emailHelp"
              th:field="*{email}"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control login-password"
              placeholder="비밀번호"
              id="exampleInputPassword1"
              th:field="*{password}"
              required
            />
          </div>

          <!-- <div
            id="loginMessage"
            style="color: red; font-size: 13px; display: none"
          >
            *이메일 및 비밀번호를 입력해주세요
          </div> -->
          <button type="submit" class="login-btn w-100">로그인</button>
        </form>
      </div>

      <div class="modal-footer">
        <a href="/members/findpwd">
          <button type="button" class="btn btn-secondary">
            비밀번호 찾기
          </button></a
        >
        <a href="/members/new"
          ><button type="button" class="signup">회원가입</button></a
        >
      </div>
    </div>
  </body>
</html>
