<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/designpage.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/gallery.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>ERUTY</title>
  </head>
  <body>
    <div style="height: 80px">
      <div class="nav">
        <a href="/"
          ><img
            class="nav-logo"
            width="25px"
            src="/img/eruty_logo2.png"
            alt="로고"
        /></a>
        <div class="search-bar">
          <img src="/img/a.png" alt="" width="17px" height="17px" />
          <form th:action="@{/items/search}" method="GET">
            <input type="text" name="searchKeyword" placeholder="   search" />
            <button id="search-btn" type="submit"></button>
          </form>
        </div>
        <div class="menu">
          <a href="">ABOUT ERUTY</a>
          <a th:if="!${session?.loginId}" href="/members/new">SIGN UP</a>
          <a th:if="!${session?.loginId}" href="/members/login">LOGIN</a>
          <a th:if="${session?.loginId}" href="/items/upload">UPLOAD</a>
          <a th:if="${session?.loginId}" href="/members/mypage">MYPAGE</a>
          <a th:if="${session?.loginId}" href="/members/logout">LOGOUT</a>
        </div>
      </div>
    </div>

    <!-- 상단 프로필 -->
    <div
      style="
        width: 100%;
        height: 120px;
        background-image: url('https://media.istockphoto.com/id/1251205256/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EA%B2%80%EC%A0%95-%EC%B4%9D-%EA%B7%B8%EB%9F%B0%EC%A7%80-%EC%B6%94%EC%83%81%EC%8B%9C%EB%A9%98%ED%8A%B8-%EC%BD%98%ED%81%AC%EB%A6%AC%ED%8A%B8-%EC%A2%85%EC%9D%B4-%ED%85%8D%EC%8A%A4%EC%B2%98-%EC%95%BC%EA%B0%84-%ED%8C%A8%ED%84%B4-%ED%91%9C%EB%A9%B4-%EB%A0%88%EB%B2%A8-%EB%B3%B5%EC%82%AC-%EA%B3%B5%EA%B0%84.jpg?b=1&s=170667a&w=0&k=20&c=_AFknJOjLLC4eQpvefe6p5G1YDaWr32Hqu7RMCKn5Go=');
      "
    >
      <img
        style="
          float: left;
          height: 75px;
          width: auto;
          margin: 20px 20px 20px 100px;
        "
        src="/img/eruty_logo2.png"
        alt="로고"
      />
      <div style="margin-top: 15px; margin-left: 10px; float: left">
        <span style="font-weight: bold; font-size: xx-large; color: white">
          ERUTY
        </span>
        <br />
        <span style="color: white">
          Hello, we are the ERUTY which make the 3D graphic design source as
          professional!
        </span>
      </div>
    </div>

    <div
      style="
        padding: 0 150px;
        min-width: 1300px;
        height: 1000px;
        display: flex;
        margin-top: 25px;
      "
    >
      <!-- text-align: center; display: inline-block;  -->
      <div style="width: 65%">
        <div
          style="
            width: 100%;
            border: 1px solid lightgray;
            border-bottom: 0;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
          "
        >
          <p
            style="font-size: 1.2rem; font-weight: 700; margin: 20px 0px 0px 8%"
          >
            My 3d Models (<span th:text="${totalDesigns}"></span>)
          </p>
        </div>
        <div class="gallery">
          <ul class="gallery-list">
            <li th:each="item: ${myList}">
              <a th:href="@{/items/{id}/detail (id=${item.getId()})}">
                <img th:src="${item.getImagePathes()[0]}" alt="" />

                <h4 th:text="${item.getDesignName()} "></h4>
                <div>
                  ₩ <span class="price" th:text="${item.getPrice()}"></span>
                </div>
                <div class="design-eval">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-heart"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                      />
                    </svg>
                    <span class="view" th:text="${item.getLikes()}"></span>
                  </div>
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                      />
                    </svg>
                    <span class="view" th:text="${item.getViews()}"></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div style="margin-left: 30px; display: inline-block; width: 35%">
        <div
          style="
            border: 1px solid lightgray;
            border-radius: 30px;
            padding: 30px;
          "
        >
          <p>ABOUT</p>

          <div style="border-top: 1px solid lightgray; padding: 20px 0">
            <span th:text="${loginMember.getName()}"></span>
            <br />
            <span th:text="${loginMember.getEmail()}"></span>
          </div>
        </div>

        <div
          style="
            border: 1px solid lightgray;
            border-radius: 30px;
            padding: 30px;
            margin-top: 30px;
          "
        >
          <p>STATS</p>

          <div style="border-top: 1px solid lightgray; padding: 20px 0">
            <!-- view -->
            <div class="mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                />
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                />
              </svg>
              <span style="margin-left: 10px" th:text="${totalViews}"></span>
              <span>View</span>
            </div>
            <!-- like -->
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                />
              </svg>

              <span style="margin-left: 10px" th:text="${totalLikes}"></span>
              <span>Like</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/bd796f3c3a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
