<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="layout">
    <table>
        <thead>
        <tr>
        </tr>

        </thead>
        <tbody>
        <tr th:each="item: ${info}">
            <td>
                <a th:text="${item.description}"></a>
                <a th:text="${item.price}"></a>
                <a th:text="${item.creator}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>