@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif !important;
}

#main-logo {
  color: #418fd1;
  text-decoration: none;
  margin-right: 20px;
}

#main-logo-img {
  width: 8rem;
  height: 3rem;
}

.login-btn {
  color: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 2px 6px;
}

.signup-btn {
  color: white;
  background-color: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 2px 6px;
}

.upload-btn {
  background: #85570f;
  color: white;
  border: 1px solid #85570f;
  border-radius: 6px;
  padding: 2px 6px;
}

#nav-main {
  color: rgb(36, 170, 225);
}

#nav-info {
  color: rgb(36, 170, 225);
}

#nav-design {
  color: rgb(36, 170, 225);
}

#main-page {
  background: white;
}

#main-3d {
  background: rgb(36, 170, 225);
  text-align: center;
}

#main-title {
  color: rgb(36, 170, 225);
}

#main-info {
  color: black;
}

#main-btn {
  color: white;
  background: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

#intro1 {
  background: rgb(36, 170, 225);
}

#info-title {
  font-size: 7rem;
  margin-bottom: 2rem;
  color: white;
}

#info-content {
  width: 50%;
  margin-bottom: 2rem;
}

#info-btn {
  color: rgb(36, 170, 225);
}

#design-gallery {
  height: 100vh;
  width: 100vw;
}

#highlights1 {
  background: white;
}

#highlights1 h1 {
  color: rgb(36, 170, 225);
}

#test1 {
  font-family: Calluna, Arial, sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(./background.png);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  padding: 1rem;
  padding-top: 45%;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
