<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/login.css" rel="stylesheet" />
    <title>ERUTY</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <img src="/img/eruty_logo1.png" alt="" class="login-logo" />
      <div class="login-container">
        <form
          role="form"
          action="/members/changepwd"
          th:object="${changepwdForm}"
          method="post"
        >
          <div class="form-group mb-3">
            <input
              type="email"
              class="form-control login-email"
              id="exampleInputEmail1"
              placeholder="이메일"
              aria-describedby="emailHelp"
              th:field="*{email}"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control login-password"
              placeholder="비밀번호"
              th:field="*{password}"
              required
            />
            <input
              type="password"
              class="form-control login-password"
              placeholder="비밀번호를 다시 확인하세요"
              th:field="*{confirmPassword}"
              required
            />
          </div>
          <button type="submit" class="login-btn w-100">Submit</button>
        </form>
        <br />
      </div>
    </div>
  </body>
</html>
