<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="layout">
  <table>
    <thead>
    판매자 : <tr th:text="${loginMember.getName()}">
      <td>
      </td>
    </tr>

    </thead>
    <tbody>
    <tr th:each="myList: ${myList}">
      <td>
        이메일 : <a th:text="${loginMember.getEmail()}"></a> /
        디자인명 : <a th:text="${myList.getDesignName()}" th:href="@{/items/{id}/detail (id=${myList.getId()})}"></a> /
        가격 : <a th:text="${myList.getPrice()}"></a> /
        조회수 : <a th:text="${myList.getViews()}"></a> /
        좋아요 : <a th:text="${myList.getLikes()}"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>