@import "reset.css";
@import "nav.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "NanumSquare", sans-serif !important;
}

body {
  background-color: rgb(227, 226, 228);
}

.body {
  min-width: 1000px;
  height: 100vh;
  min-height: 900px;
  position: relative;
}

.page1 {
  height: 900px;
}

.bg-color {
  background-color: rgb(227, 226, 228);
  width: 100vw;
  min-width: 1000px;
  height: 2000px;
  min-height: 900px;
  position: absolute;
  z-index: -1;
}
.bg-img {
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 900px;
  position: absolute;
  z-index: -1;
}

.bg-ani {
  background-image: url(/img/bganimation.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 100vw;
  min-width: 1000px;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
}

.bg-ani2 {
  background-image: url(/img/bgani2.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 100vw;
  min-width: 1000px;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
}

.main {
  height: 650px;
  display: flex;
}

.rendering {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  width: 130px;
}

.info {
  height: 70%;
  border-left: 1px solid rgb(76, 147, 165);
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: rgb(5, 67, 140);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size:20px;
  margin: 0;
}

.content {
  margin: 0;
  font-size: 16px;
  color: rgb(90, 89, 89);
  white-space: nowrap;
}

.content-1 {
  margin-top: 1rem;
  margin-bottom: 20px;
}

.content-weight {
  font-weight: 800;
}

.bottom {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.confirm {
  color: white;
  background: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 6px 20px;
}
.bottom a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bottom-content {
  color: rgb(90, 89, 89);
}

.bottom-btn {
  width: 350px;
  height: 80px;
  cursor: pointer;
}

.bottom-btn-title {
  cursor: pointer;
  color: white;
  position: absolute;
  font-weight: 400;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.page2 {
  height: 900px;
  width: 100%;
  background-color: red;
}

.side-filter {
  height: 100%;
  width: 15%;
  background-color: blue;
}

canvas {
  width: 400px !important;
  height: 600px !important;
}
.path-about {
  background: rgb(218, 221, 226);
  min-width: 1000px;
  height: 500px;
}

#about-eruty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  height: 500px;
  background-color: rgb(245, 252, 255);
  position: relative;
}

#about-eruty img {
  width: 550px;
  height: 200px;
  margin-bottom: 25px;
}

#about-eruty p {
  font-size: 1.2rem;
}

.footer {
  padding: 2rem 1rem;
  background: rgb(227, 226, 228);
  border-top: 1px solid rgb(158, 158, 158);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100vw;
  min-width: 1000px;
  position: relative;
}

.footer p {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.footer-lighter {
  color: gray;
}

.footer-first {
  margin-bottom: 0.4rem !important;
}

.footer-right {
  color: gray;
  margin-top: 0.4rem;
}
