@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif !important;
}
main {
  width: 100%;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  margin: 0;
}
#navbarCollapse {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 60px;
}

#main-logo-img {
  margin: 15px;
  width: 100px;
  height: 45px;
}

.header-nav {
  width: 100%;
}

.nav-container {
  width: 100%;
}

.navbar-nav {
  align-items: center;
  flex-direction: row !important;
}

#navbar-search {
  display: flex;
  align-items: center;
}

#navbar-btn {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 0.8rem;
  width: 200px;
}

#nav-search {
  border: 1px solid lightgray;
  width: 40vw;
  height: 1.4rem;
}

#search-btn {
  margin-left: 0.5rem;
}

#search-icon {
  color: rgb(36, 170, 225);
}

.nav-link {
  color: rgb(36, 170, 225) !important;
  font-size: 1rem;
  width: 50px;
}

.login-btn {
  color: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 2px 6px;
}

.login-btn:hover {
  color: white;
  background: rgb(36, 170, 225);
}
.signup {
  color: white;
  background: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 6px 20px;
}

.signup-btn {
  color: white;
  background-color: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 6px;
  padding: 2px 6px;
}

.signup-btn:hover {
  color: rgb(36, 170, 225);
  background: white;
}

/* .upload-btn {
  background: #85570f;
  color: white;
  border: 1px solid #85570f;
  border-radius: 6px;
  padding: 2px 6px;
}

.upload-btn:hover {
  background-color: white;
  color: #85570f;
} */

#main-page {
  background: white;
  width: 1200px;
}

#main-page p {
  font-size: 0.9rem;
}

#main-3d {
  text-align: center;
}

.main-page-content {
  width: 800px;
}

.main-title {
  color: rgb(36, 170, 225);
  font-size: 35px;
}

.main-title2 {
  color: rgb(36, 170, 225);
  margin-bottom: 5rem;
  font-size: 35px;
}

.main-info {
  color: black;
}

.main-info-name {
  color: rgb(36, 170, 225);
  font-size: 1.3rem;
}

#main-btn {
  color: white;
  background: rgb(36, 170, 225);
  border: 1px solid rgb(36, 170, 225);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

#intro1 {
  background: rgb(36, 170, 225);
  width: 100%;
}

#info-title {
  font-size: 7rem;
  margin-bottom: 2rem;
  color: white;
}

#info-content {
  width: 50%;
  margin-bottom: 2rem;
  text-align: center;
}

#info-btn {
  color: rgb(36, 170, 225);
}

#highlights1 {
  background: white;
  width: 100%;
}

#highlights1 h1 {
  color: rgb(36, 170, 225);
}

#test1 {
  font-family: Calluna, Arial, sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(./background.png);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  padding: 1rem;
  padding-top: 45%;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.card-text {
  text-align: right;
  margin-bottom: 0.5rem;
}

.card a {
  text-decoration: none;
}
